.sider {
  width: 260px !important;
  min-width: 260px !important;
  max-width: 260px !important;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #f0f0f0;

  .ant-menu {
    height: 100%;
    border-inline-end: none;
  }
}

.content {
  flex: 1;
  min-height: 100vh;
  background: #fafafa;
}